In [1]:
import pandas as pd
from datetime import datetime
from functions2 import drop_columns
import seaborn as sns
import matplotlib.pyplot as plt

## Step 1. Import clean data set:

In [2]:
df = pd.read_csv('../data/clean/final_df5.csv')
df

,sector,region,size,multiestablishment_firm,legal_status,percentage_ownership,owner_manager,number_companies_owned,private_foreing_companies,government_company,...,m1a_informal_pos,m1a_taxadmin_pos,m1a_taxrate_pos,m1a_transport_pos,labor,cost_elctricity,weeks_remain_open,machinery_value,age,exp
0,Retail services,West Netherlands,Small,1,Shareholding company with non-traded shares or...,100,No,1,100,0,...,15,14,5,7,877000,0,52.0,0.0,17.0,0
1,Retail services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,100,Yes,1,0,0,...,1,7,8,3,840000,42000,52.0,0.0,6.0,0
2,Other services,East Netherlands,Large,1,Shareholding company with non-traded shares or...,48,Yes,1,0,0,...,1,10,8,3,24000000,500000,0.0,0.0,112.0,1
3,Manufacturing,West Netherlands,Medium,0,Shareholding company with non-traded shares or...,66,No,1,0,0,...,10,15,3,1,0,30000,4.0,3000000.0,37.0,1
4,Other services,West Netherlands,Medium,1,Shareholding company with non-traded shares or...,100,Yes,2,0,0,...,10,2,7,9,550000,70000,12.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,Manufacturing,East Netherlands,Large,1,Shareholding company with non-traded shares or...,100,No,1,100,0,...,15,2,5,1,20000000,4000000,4.0,100000000.0,55.0,1
804,Other services,East Netherlands,Large,0,Shareholding company with non-traded shares or...,100,No,1,100,0,...,3,14,2,8,124950000,976000,0.0,0.0,21.0,0
805,Other services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,1,No,15,0,0,...,7,5,2,9,15000000,34000,12.0,0.0,89.0,0
806,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,No,1,0,0,...,6,15,8,9,22000000,100000,6.0,0.0,14.0,1
807,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,Yes,1,0,0,...,5,14,2,9,16500000,30000,32.0,0.0,93.0,0

## Step 2. Check the numerical columns and categotical columns:

In [3]:
numerical_columns = df.select_dtypes(include=['number'])
numerical_columns

,multiestablishment_firm,percentage_ownership,number_companies_owned,private_foreing_companies,government_company,other_company,family_ownership,support_group,fte_started,manager_experience,...,m1a_informal_pos,m1a_taxadmin_pos,m1a_taxrate_pos,m1a_transport_pos,labor,cost_elctricity,weeks_remain_open,machinery_value,age,exp
0,1,100,1,100,0,0,0,1,3,5,...,15,14,5,7,877000,0,52.0,0.0,17.0,0
1,0,100,1,0,0,0,100,1,27,35,...,1,7,8,3,840000,42000,52.0,0.0,6.0,0
2,1,48,1,0,0,0,0,1,6,26,...,1,10,8,3,24000000,500000,0.0,0.0,112.0,1
3,0,66,1,0,0,0,0,1,2,30,...,10,15,3,1,0,30000,4.0,3000000.0,37.0,1
4,1,100,2,0,0,0,100,1,20,35,...,10,2,7,9,550000,70000,12.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,1,100,1,100,0,0,0,0,0,40,...,15,2,5,1,20000000,4000000,4.0,100000000.0,55.0,1
804,0,100,1,100,0,0,0,1,0,10,...,3,14,2,8,124950000,976000,0.0,0.0,21.0,0
805,0,1,15,0,0,0,100,1,2,20,...,7,5,2,9,15000000,34000,12.0,0.0,89.0,0
806,1,100,1,0,0,0,100,1,0,25,...,6,15,8,9,22000000,100000,6.0,0.0,14.0,1
807,1,100,1,0,0,0,100,1,2,25,...,5,14,2,9,16500000,30000,32.0,0.0,93.0,0

In [4]:
chunk_size = 89
for i in range(0, len(numerical_columns.columns), chunk_size):
    print(numerical_columns.columns[i:i + chunk_size])

Index(['multiestablishment_firm', 'percentage_ownership',
       'number_companies_owned', 'private_foreing_companies',
       'government_company', 'other_company', 'family_ownership',
       'support_group', 'fte_started', 'manager_experience', 'age_top_manager',
       'education_top_manager', 'website', 'percentage_sales_main_product',
       'sales', 'direct_sales', 'direct_sales_phone', 'direct_sales_online',
       'direct_sales_other', 'national_sales', 'indirect_exports',
       'direct_exports', 'losses_theft_products', 'domestic_supplies',
       'foreign_supplies', 'product_innovation', 'product_inn_market',
       'process_innovation', 'r&d', 'r&d_intensity', 'closing_covid',
       'own_building', 'own_land', 'internal_funds_workingcapital',
       'bank_loans_workingcapital', 'other_loans_workingcapital',
       'suppliers_customers_workingcapital', 'other_source_workingcapital',
       'fixed_assets', 'manager_timespent_regulations',
       'percentage_informal_payments', 'public_support', 'j30_taxrate_pos',
       'j30_taxadmin_pos', 'j30_permit_pos', 'j30_instability_pos',
       'j30_corruption_pos', 'j30_courts_pos', 'j30_safety_pos',
       'j30_health_pos', 'j30_environment_pos', 'permanent_fte',
       'EUl2_language_pos', 'EUl2_interpersonal_pos', 'EUl2_probsolve_pos',
       'EUl2_manage_pos', 'EUl2_comp_pos', 'EUl2_math_pos', 'EUl2_tech_pos',
       'temporal_workers', 'training', 'EUl8_language_pos',
       'EUl8_interpersonal_pos', 'EUl8_probsolve_pos', 'EUl8_manage_pos',
       'EUl8_comp_pos', 'EUl8_math_pos', 'EUl8_tech_pos', 'm1a_finance_pos',
       'm1a_land_pos', 'm1a_permit_pos', 'm1a_corruption_pos',
       'm1a_courts_pos', 'm1a_crime_pos', 'm1a_trade_pos',
       'm1a_electricity_pos', 'm1a_workforce_pos', 'm1a_labor_pos',
       'm1a_instability_pos', 'm1a_informal_pos', 'm1a_taxadmin_pos',
       'm1a_taxrate_pos', 'm1a_transport_pos', 'labor', 'cost_elctricity',
       'weeks_remain_open', 'machinery_value', 'age', 'exp'],
      dtype='object')

In [5]:
categorical_columns = df.select_dtypes(include=['object'])
categorical_columns.head(5)

,sector,region,size,legal_status,owner_manager,female_owner,ceo_politician,top_manager_female,citizenship_top_manager,multinational_exp_top_manager,...,outstanding_personal_loans,application_loans,certified_fin_statements,tax_inspection,online_tax_payment,government_contract,import_lic,operating_licence,permanent_fte_lastyear,vacancies
0,Retail services,West Netherlands,Small,Shareholding company with non-traded shares or...,No,No,No,No,Yes,No,...,No,No,Yes,No,Yes,No,No,No,13,Yes
1,Retail services,West Netherlands,Large,Shareholding company with non-traded shares or...,Yes,No,No,No,Yes,No,...,No,No,No,No,Yes,No,No,No,28,No
2,Other services,East Netherlands,Large,Shareholding company with non-traded shares or...,Yes,No,No,No,Yes,No,...,No,Yes,Yes,Yes,Yes,No,No,No,300,Yes
3,Manufacturing,West Netherlands,Medium,Shareholding company with non-traded shares or...,No,No,No,No,Yes,Yes,...,No,No,Yes,No,Yes,No,No,No,29,Yes
4,Other services,West Netherlands,Medium,Shareholding company with non-traded shares or...,Yes,No,No,No,No,No,...,No,No,Yes,No,Yes,No,No,No,18,Yes

In [6]:
chunk_size = 42
for i in range(0, len(categorical_columns.columns), chunk_size):
    print(categorical_columns.columns[i:i + chunk_size])

Index(['sector', 'region', 'size', 'legal_status', 'owner_manager',
       'female_owner', 'ceo_politician', 'top_manager_female',
       'citizenship_top_manager', 'multinational_exp_top_manager',
       'quality_certification', 'electrical_connection', 'power_outages',
       'own_generator', 'application_water_connection', 'formal_planning',
       'taxes_prevent_growth', 'labor_reg_prevent_growth',
       'market_demand_prevent_growth', 'kpis', 'production_targets',
       'performance_bonus', 'main_market', 'competitors', 'foreign_technology',
       'informal_competitors', 'construction_permit', 'security',
       'losses_fraudulent_transactions', 'savings_account',
       'overdraft_facility', 'credit_line', 'outstanding_personal_loans',
       'application_loans', 'certified_fin_statements', 'tax_inspection',
       'online_tax_payment', 'government_contract', 'import_lic',
       'operating_licence', 'permanent_fte_lastyear', 'vacancies'],
      dtype='object')

In [55]:
sales = df['vacancies'].value_counts(dropna=False)
sales

vacancies
Yes    647
No     161
Name: count, dtype: int64

In [54]:
df['permanent_fte_lastyear'] = pd.to_numeric(df['permanent_fte_lastyear'], errors='coerce')

'owner_manager','female_owner', 'ceo_politician', 'top_manager_female', 'citizenship_top_manager', 'multinational_exp_top_manager', 'quality_certification', 'electrical_connection', 'power_outages',
'own_generator', 'application_water_connection', 'formal_planning', 'taxes_prevent_growth', 'labor_reg_prevent_growth', 'market_demand_prevent_growth', 'kpis', 'production_targets', 'performance_bonus',
'foreign_technology', 'informal_competitors', 'construction_permit', 'security', 'losses_fraudulent_transactions', 'savings_account', 'overdraft_facility', 'credit_line', 'outstanding_personal_loans', 'application_loans', 'certified_fin_statements', 'tax_inspection',
'online_tax_payment', 'government_contract', 'import_lic', 'operating_licence', 'vacancies'

In [51]:
# Replace "Yes" with 1, "No" with 0, and "Don't know (spontaneous)" with 0
df['permanent_fte_lastyear'] = df['permanent_fte_lastyear'].replace({
    "Don't know (spontaneous)": 0,
    'Establishment was not in business': 0
})

In [56]:
# Define the function
def replace_yes_no(df, columns):
    # Replace 'Yes' with 1 and 'No' with 0 for specified columns
    df[columns] = df[columns].replace({'Yes': 1, 'No': 0})
    return df

In [57]:
# List of columns to modify
columns_to_change = ['owner_manager','female_owner', 'ceo_politician', 'top_manager_female', 'citizenship_top_manager', 'multinational_exp_top_manager', 'quality_certification', 'electrical_connection', 'power_outages',
'own_generator', 'application_water_connection', 'formal_planning', 'taxes_prevent_growth', 'labor_reg_prevent_growth', 'market_demand_prevent_growth', 'kpis', 'production_targets', 'performance_bonus',
'foreign_technology', 'informal_competitors', 'construction_permit', 'security', 'losses_fraudulent_transactions', 'savings_account', 'overdraft_facility', 'credit_line', 'outstanding_personal_loans', 'application_loans', 'certified_fin_statements', 'tax_inspection',
'online_tax_payment', 'government_contract', 'import_lic', 'operating_licence', 'vacancies']

# Call the function to replace 'Yes' and 'No' values
df = replace_yes_no(df, columns_to_change)

/var/folders/2c/dbpw6m3n2tb33hk2qfxyqdpw0000gn/T/ipykernel_74781/3046271806.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columns] = df[columns].replace({'Yes': 1, 'No': 0})

In [58]:
df

,sector,region,size,multiestablishment_firm,legal_status,percentage_ownership,owner_manager,number_companies_owned,private_foreing_companies,government_company,...,m1a_informal_pos,m1a_taxadmin_pos,m1a_taxrate_pos,m1a_transport_pos,labor,cost_elctricity,weeks_remain_open,machinery_value,age,exp
0,Retail services,West Netherlands,Small,1,Shareholding company with non-traded shares or...,100,0,1,100,0,...,15,14,5,7,877000,0,52.0,0.0,17.0,0
1,Retail services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,100,1,1,0,0,...,1,7,8,3,840000,42000,52.0,0.0,6.0,0
2,Other services,East Netherlands,Large,1,Shareholding company with non-traded shares or...,48,1,1,0,0,...,1,10,8,3,24000000,500000,0.0,0.0,112.0,1
3,Manufacturing,West Netherlands,Medium,0,Shareholding company with non-traded shares or...,66,0,1,0,0,...,10,15,3,1,0,30000,4.0,3000000.0,37.0,1
4,Other services,West Netherlands,Medium,1,Shareholding company with non-traded shares or...,100,1,2,0,0,...,10,2,7,9,550000,70000,12.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,Manufacturing,East Netherlands,Large,1,Shareholding company with non-traded shares or...,100,0,1,100,0,...,15,2,5,1,20000000,4000000,4.0,100000000.0,55.0,1
804,Other services,East Netherlands,Large,0,Shareholding company with non-traded shares or...,100,0,1,100,0,...,3,14,2,8,124950000,976000,0.0,0.0,21.0,0
805,Other services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,1,0,15,0,0,...,7,5,2,9,15000000,34000,12.0,0.0,89.0,0
806,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,0,1,0,0,...,6,15,8,9,22000000,100000,6.0,0.0,14.0,1
807,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,1,1,0,0,...,5,14,2,9,16500000,30000,32.0,0.0,93.0,0

In [59]:
df.to_csv('../data/clean/final_df5.csv', index=False)