In [13]:
import pandas as pd
from datetime import datetime
from functions2 import drop_columns
import seaborn as sns
import matplotlib.pyplot as plt

## Step 1. Import clean data set:

In [14]:
df = pd.read_csv('../data/clean/final_df5.csv')
df

,sector,region,size,multiestablishment_firm,legal_status,percentage_ownership,owner_manager,number_companies_owned,private_foreing_companies,government_company,...,m1a_taxadmin_pos,m1a_taxrate_pos,m1a_transport_pos,labor,cost_elctricity,weeks_remain_open,machinery_value,age,exp,innovation
0,Retail services,West Netherlands,Small,1,Shareholding company with non-traded shares or...,100,0,1,100,0,...,14,5,7,877000,0,52.0,0.0,17.0,0,0
1,Retail services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,100,1,1,0,0,...,7,8,3,840000,42000,52.0,0.0,6.0,0,0
2,Other services,East Netherlands,Large,1,Shareholding company with non-traded shares or...,48,1,1,0,0,...,10,8,3,24000000,500000,0.0,0.0,112.0,1,1
3,Manufacturing,West Netherlands,Medium,0,Shareholding company with non-traded shares or...,66,0,1,0,0,...,15,3,1,0,30000,4.0,3000000.0,37.0,1,1
4,Other services,West Netherlands,Medium,1,Shareholding company with non-traded shares or...,100,1,2,0,0,...,2,7,9,550000,70000,12.0,0.0,7.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,Manufacturing,East Netherlands,Large,1,Shareholding company with non-traded shares or...,100,0,1,100,0,...,2,5,1,20000000,4000000,4.0,100000000.0,55.0,1,0
804,Other services,East Netherlands,Large,0,Shareholding company with non-traded shares or...,100,0,1,100,0,...,14,2,8,124950000,976000,0.0,0.0,21.0,0,0
805,Other services,West Netherlands,Large,0,Shareholding company with non-traded shares or...,1,0,15,0,0,...,5,2,9,15000000,34000,12.0,0.0,89.0,0,1
806,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,0,1,0,0,...,15,8,9,22000000,100000,6.0,0.0,14.0,1,1
807,Other services,West Netherlands,Large,1,Shareholding company with non-traded shares or...,100,1,1,0,0,...,14,2,9,16500000,30000,32.0,0.0,93.0,0,1

## Step 2. Check the numerical columns and categotical columns:

In [15]:
numerical_columns = df.select_dtypes(include=['number'])
numerical_columns

,multiestablishment_firm,percentage_ownership,owner_manager,number_companies_owned,private_foreing_companies,government_company,other_company,female_owner,family_ownership,ceo_politician,...,m1a_taxadmin_pos,m1a_taxrate_pos,m1a_transport_pos,labor,cost_elctricity,weeks_remain_open,machinery_value,age,exp,innovation
0,1,100,0,1,100,0,0,0,0,0,...,14,5,7,877000,0,52.0,0.0,17.0,0,0
1,0,100,1,1,0,0,0,0,100,0,...,7,8,3,840000,42000,52.0,0.0,6.0,0,0
2,1,48,1,1,0,0,0,0,0,0,...,10,8,3,24000000,500000,0.0,0.0,112.0,1,1
3,0,66,0,1,0,0,0,0,0,0,...,15,3,1,0,30000,4.0,3000000.0,37.0,1,1
4,1,100,1,2,0,0,0,0,100,0,...,2,7,9,550000,70000,12.0,0.0,7.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,1,100,0,1,100,0,0,0,0,0,...,2,5,1,20000000,4000000,4.0,100000000.0,55.0,1,0
804,0,100,0,1,100,0,0,0,0,0,...,14,2,8,124950000,976000,0.0,0.0,21.0,0,0
805,0,1,0,15,0,0,0,0,100,0,...,5,2,9,15000000,34000,12.0,0.0,89.0,0,1
806,1,100,0,1,0,0,0,0,100,0,...,15,8,9,22000000,100000,6.0,0.0,14.0,1,1
807,1,100,1,1,0,0,0,1,100,0,...,14,2,9,16500000,30000,32.0,0.0,93.0,0,1

In [16]:
chunk_size = 50
for i in range(0, len(numerical_columns.columns), chunk_size):
    print(numerical_columns.columns[i:i + chunk_size])

Index(['multiestablishment_firm', 'percentage_ownership', 'owner_manager',
       'number_companies_owned', 'private_foreing_companies',
       'government_company', 'other_company', 'female_owner',
       'family_ownership', 'ceo_politician', 'support_group', 'fte_started',
       'manager_experience', 'top_manager_female', 'age_top_manager',
       'education_top_manager', 'citizenship_top_manager',
       'multinational_exp_top_manager', 'quality_certification',
       'electrical_connection', 'power_outages', 'own_generator',
       'application_water_connection', 'website',
       'percentage_sales_main_product', 'sales', 'direct_sales',
       'direct_sales_phone', 'direct_sales_online', 'direct_sales_other',
       'national_sales', 'indirect_exports', 'direct_exports',
       'losses_theft_products', 'domestic_supplies', 'foreign_supplies',
       'formal_planning', 'taxes_prevent_growth', 'labor_reg_prevent_growth',
       'market_demand_prevent_growth', 'kpis', 'production_targets',
       'performance_bonus', 'competitors', 'foreign_technology',
       'informal_competitors', 'product_innovation', 'product_inn_market',
       'process_innovation', 'r&d'],
      dtype='object')
Index(['r&d_intensity', 'closing_covid', 'own_building', 'own_land',
       'construction_permit', 'security', 'losses_fraudulent_transactions',
       'internal_funds_workingcapital', 'bank_loans_workingcapital',
       'other_loans_workingcapital', 'suppliers_customers_workingcapital',
       'other_source_workingcapital', 'fixed_assets', 'savings_account',
       'overdraft_facility', 'credit_line', 'outstanding_personal_loans',
       'application_loans', 'certified_fin_statements',
       'manager_timespent_regulations', 'tax_inspection', 'online_tax_payment',
       'government_contract', 'percentage_informal_payments', 'import_lic',
       'operating_licence', 'public_support', 'j30_taxrate_pos',
       'j30_taxadmin_pos', 'j30_permit_pos', 'j30_instability_pos',
       'j30_corruption_pos', 'j30_courts_pos', 'j30_safety_pos',
       'j30_health_pos', 'j30_environment_pos', 'permanent_fte',
       'permanent_fte_lastyear', 'EUl2_language_pos', 'EUl2_interpersonal_pos',
       'EUl2_probsolve_pos', 'EUl2_manage_pos', 'EUl2_comp_pos',
       'EUl2_math_pos', 'EUl2_tech_pos', 'temporal_workers', 'training',
       'vacancies', 'EUl8_language_pos', 'EUl8_interpersonal_pos'],
      dtype='object')
Index(['EUl8_probsolve_pos', 'EUl8_manage_pos', 'EUl8_comp_pos',
       'EUl8_math_pos', 'EUl8_tech_pos', 'm1a_finance_pos', 'm1a_land_pos',
       'm1a_permit_pos', 'm1a_corruption_pos', 'm1a_courts_pos',
       'm1a_crime_pos', 'm1a_trade_pos', 'm1a_electricity_pos',
       'm1a_workforce_pos', 'm1a_labor_pos', 'm1a_instability_pos',
       'm1a_informal_pos', 'm1a_taxadmin_pos', 'm1a_taxrate_pos',
       'm1a_transport_pos', 'labor', 'cost_elctricity', 'weeks_remain_open',
       'machinery_value', 'age', 'exp', 'innovation'],
      dtype='object')

In [17]:
categorical_columns = df.select_dtypes(include=['object'])
categorical_columns

,sector,region,size,legal_status,main_market
0,Retail services,West Netherlands,Small,Shareholding company with non-traded shares or...,National
1,Retail services,West Netherlands,Large,Shareholding company with non-traded shares or...,Local
2,Other services,East Netherlands,Large,Shareholding company with non-traded shares or...,International
3,Manufacturing,West Netherlands,Medium,Shareholding company with non-traded shares or...,National
4,Other services,West Netherlands,Medium,Shareholding company with non-traded shares or...,Local
...,...,...,...,...,...
803,Manufacturing,East Netherlands,Large,Shareholding company with non-traded shares or...,International
804,Other services,East Netherlands,Large,Shareholding company with non-traded shares or...,National
805,Other services,West Netherlands,Large,Shareholding company with non-traded shares or...,National
806,Other services,West Netherlands,Large,Shareholding company with non-traded shares or...,International
807,Other services,West Netherlands,Large,Shareholding company with non-traded shares or...,National

In [18]:
chunk_size = 5
for i in range(0, len(categorical_columns.columns), chunk_size):
    print(categorical_columns.columns[i:i + chunk_size])

Index(['sector', 'region', 'size', 'legal_status', 'main_market'], dtype='object')

In [19]:
df['innovation'].value_counts()

innovation
1    483
0    325
Name: count, dtype: int64